<div class="smallBox">
  <% if @login_sub_view.nil? %>
    <div class="smBoxTop">
      <div class="titleBgLeft"></div>
      <div class="titleBgMid">
        <h1><%= t('heading.SIGNIN')%></h1>
      </div>
      <div class="titleBgRight"></div>
    </div>

    <div class="smBoxMid">
      <div class="n_smboxmid">
        <% form_tag session_path do -%>
          <div class="singInRow">
            <div style='text-align: center'>
              <div style="margin-left: 35px;;text-align: center; margin-bottom: 20px;float:left;">
                <fb:login-button perms="email,publish_stream,create_event,rsvp_event"
                                 length='short' size='small'
                                 onlogin='window.location.reload()'/>
              </div>

              <div style="float:left; margin-left: 20px;">
                <%= link_to image_tag('http://a0.twimg.com/images/dev/buttons/sign-in-with-twitter-d-sm.png'), connect_twitter_session_path %>
              </div>
            </div>
            <div class='clear'></div>

            <div class="textRow">
              <label><%= t('form.EmailID')%></label>
              <span>:</span>
              <%= text_field_tag 'email', @email %>
            </div>
            <div class="textRow">
              <label><%= t('form.Password')%></label>
              <span>:</span>
              <%= password_field_tag 'password', nil %>
            </div>
            <div class="gobutton textRow">
              <label><%= link_to 'Forgot password?', forgot_password_url %></label>
              <input class="goBtn" name="" type="submit" value="<%= t('form.go')%>"/>
            </div>
          </div>
        <% end %>
      </div>
      <div class="smBoxBot"></div>
    </div>
  <% else %>
    <%= render :partial => 'users/' + @login_sub_view.to_s %>
  <% end %>
</div>

<div class="smallBox mtop">
  <div class="smBoxTop">
    <div class="titleBgLeft"></div>
    <div class="titleBgMid">
      <h1><%= t('heading.REGISTER')%></h1>
    </div>
    <div class="titleBgRight"></div>
  </div>

  <div class="smBoxMid">
    <div class="n_smboxmid">
      <div class="singInRow">
        <div id='errorMessages' title='Error messages'>
          <%= error_messages_for :user %>
        </div>
        <% form_for :user, :url => users_path do |f| -%>
          <div class="textRow">
            <label><%= t('form.EmailID')%></label>
            <span>:</span>
            <%= f.text_field :email %>
          </div>
          <div class="textRow">
            <label><%= t('form.Password')%></label>
            <span>:</span>
            <%= f.password_field :password %>
          </div>
          <div class="textRow">
            <label><%= t('form.ReenterPassword')%></label>
            <span>:</span>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="textRow">
            <label><%= t('form.Birthday')%></label>
            <span>:</span>
            <%= f.text_field :birthday %>
          </div>
          <div class="textRow">
            <label><%= t('form.Mobile')%></label>
            <span>:</span>
            <%= f.text_field :mobile %>
          </div>

          <div class="textRow2">
            <label><%= t('form.Gender')%></label>
            <span>:</span>
            <%= f.radio_button :gender, 'male' %>

            <p><%= t('form.Male')%></p>
            <%= f.radio_button :gender, 'female' %>

            <p><%= t('form.Female')%></p>
          </div>

          <div class="textRow2 clear ">
            <label><%= t('form.Agreement')%></label>
            <span>:</span>
            <input name="" type="checkbox" value=""/>

            <div class="ch_top"><%= t('form.iAgree')%></div>
          </div>

          <div class="letbutton">
            <input class="letBtn" name="" type="submit" value="<%= t('form.LetMeIn')%>"/>
          </div>
        <% end %>
      </div>
    </div>
    <div class="smBoxBot"></div>
  </div>
</div>