<div class="sign_in_row" style="<%= session[:show_forget_form].present? ? 'display:none;' : 'display:block;' %>">
  <div class="sign_in"></div>
  <% form_tag session_path do -%>
      <div class="sign_txt_row">
        <div class="signTxt">
          <label><%= t('form.EmailID') %></label>
          <%= text_field_tag 'email', @email %>
        </div>
        <div class="signTxt">
          <label><%= t('form.Password') %></label>
          <%= password_field_tag 'password', nil %>
        </div>
        <input name="" type="submit" class="go" value="GO!"/>
        <a href="#forgetPassword" class="toggle-class forgot_pwd">Forgot Password ?</a>
      </div>
  <% end %>
</div>

<div class="sign_in_row" style="<%= session[:show_forget_form].present? ? 'display:block;' : 'display:none;' %>">
  <div class="forgot_pass"></div>
  <% form_tag reset_password_path do -%>
  <div class="forgot_txt_row">
    <div class="forgot_txt">
      <label>Email ID</label>
      <%= text_field_tag 'email', @email %>
    </div>
    <input class="go" name="" type="submit" value="Go!" />
  </div>
  <% end %>
  <div class="sign_out_link">
    <a href="#sign-in" class="toggle-class">Sign In</a>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
        $(".toggle-class").click(function(){
           $("div.sign_in_row").slideToggle("fast");
        });
  });
</script>