<div class="smallBox">
  <div class="smBoxTop">
    <div class="titleBgLeft"></div>
    <div class="titleBgMid">
      <h1><%= t('heading.Accountsettings')%></h1>
    </div>
    <div class="titleBgRight"></div>
  </div>

  <div class="smBoxMid">
    <div class="n_smboxmid">
      <ul>
        <li>
          <%= link_to t('nav.LoginHome'), root_url %>
        </li>
        <li>
          <%= link_to t('nav.ChangePassword'), "#{edit_user_path(current_user.id)}#change_password" %>
        </li>
        <li>
          <%= link_to t('nav.Logout'), logout_url %>
        </li>
        <li>
          <%= link_to t('nav.SiteManagement'), sso_sites_url %>
        </li>
      </ul>
    </div>
    <div class="smBoxBot"></div>
  </div>
</div>