<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @defined_site_title ? "Tasawr SSO &raquo; #{@defined_site_title.humanize.capitalize}" : sso_site_field(:site_title, 'Tasawr Single Sign On Platform') %></title>

  <%= javascript_include_tag 'jquery', 'jquery-ui' %>
  <%= stylesheet_link_tag 'style.css' %>
  <%= stylesheet_link_tag 'common.css' %>
  <%= stylesheet_link_tag 'jquery-ui-lightness/jquery.css' %>

  <% if I18n.locale.to_s == 'ar' %>
    <%= stylesheet_link_tag 'style_rtl.css' %>
  <% else %>
    <%= stylesheet_link_tag 'style_ltr.css' %>
  <% end %>

  <% if @sso_selected_site %>
    <style type='text/css'>
      <%= @sso_selected_site.theme_css %>
    </style>
  <% end %>
</head>

<body>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  $(function() {
    FB.init({appId: '<%= Facebooker.api_key %>', status: true, cookie: true, xfbml: true});
  <% if !logged_in? %>
    FB.Event.subscribe('auth.sessionChange', function(response) {
      if (response.session) {
        var path = location.href;
        window.location = path + (path.match(/\?/) ? '&' : '?') + "fskey=" +
                          response.session.session_key + "&fuid=" +
                          response.session.uid + '&fexpires=' +
                          response.session.expires + '&fsecret=' +
                          response.session.secret + '&fat=' +
                          response.session.access_token
      }
    });
  <% end %>
  });
</script>

<div class="wrapper">
  <!--header start -->
  <div class="header">
    <div class="logo">
      <a href="#"><img src="/images/logo.jpg" alt="Mobily"/></a>
    </div>

    <div class="add">
      <a href="#"><img src="/images/top_banner.jpg" alt="gitex 2010"/></a>
    </div>
  </div>

  <div class="topTab">
    <ul>
      <li>
        <a class="selTab" href="<%= root_url %>"><span><%= t('nav.home') %></span></a>
      </li>
      <li><a href="http://news.tasawr.net/?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><span><%= t('nav.news')%></span></a>
      </li>
      <li><a href="http://hotel.tasawr<%= @domain_suffix %>/?lan=<%= I18n.locale.to_s %>"><span><%= t('nav.hotel')%></span></a></li>
      <li>
        <a href="http://carrental.tasawr<%= @domain_suffix %>/?lan=<%= I18n.locale.to_s %>"><span><%= t('nav.CarRental') %></span></a>
      </li>
      <li>
        <a href="http://realestate.tasawr<%= @domain_suffix %>/?lan=<%= I18n.locale.to_s %>"><span><%= t('nav.RealEstate') %></span></a>
      </li>
    </ul>
  </div>

  <div class="topMenu">
    <div class="menusWrapper">
      <ul>
        <li>
          <a class="selMenu" href="http://connect.tasawr<%= @domain_suffix %>/?l=en"><%= t('menu.TasawrConnect') %></a>
        </li>

        <li class="switch_lan">
          <%
             current_url = request.url
             current_url = current_url.downcase.gsub(/=(en|ar)/, "=#{I18n.locale.to_s == 'en' ? 'ar' : 'en'}")
          %>
          <% if I18n.locale.to_s == 'en' %>
            <a onclick="return true;" class="" href="<%= current_url %>">العربية</a>
          <% else %>
            <a onclick="return true;" class="" href="<%= current_url %>">English</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <!--header end -->
  <!--middle start -->
  <% message = flash[:notice] || flash[:error] || flash[:success] %>
  <% if message %>
    <div class='notice'>
      <%= message %>
    </div>
  <% end %>

  <div class='imagine mtop'>
    <%= yield %>
  </div>
  <!--middle end -->
  <!--footer start -->

  <div class="footer">
    <div class="siteRow">
      <div class="site_copy"><%= t('label.copyrights') %></div>
      <div class="site_privacy">
        <ul>
          <li><a href="#"><%= t('nav.ContactUs') %></a></li>
          <li><a href="#"><%= t('nav.TellAFriend') %></a></li>
          <li><a href="#"><%= link_to t('nav.PrivacyPolicy'), static_page_url(:name => 'privacy_policy') %></a></li>
          <li><%= link_to(t('nav.TermsConditions'), static_page_url(:name => 'terms_and_conditions')) %></li>
        </ul>
      </div>
    </div>
    <div class="footerLinks">
      <div class="part1">
        <h4><%= t('heading.news') %></h4>
        <a href="http://news.tasawr.net/news?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><%= t('nav.NewsHome') %></a>
        <a href="http://news.tasawr.net/news/newslist/2/1?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><%= t('nav.Local')%></a>
        <a href="http://news.tasawr.net/news/newslist/4/1?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><%= t('nav.Sports')%></a>
        <a href="http://news.tasawr.net/news/newslist/6/1?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><%= t('nav.Finance') %></a>
        <a href="http://news.tasawr.net/news/newslist/8/1?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><%= t('nav.Politics') %></a>
      </div>
      <div class='part1'>
        <h4>&nbsp;</h4>
        <a href="http://news.tasawr.net/news/newslist/1/1?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><%= t('nav.TopNews') %></a>
        <a href="http://news.tasawr.net/news/newslist/3/1?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><%= t('nav.Culture')%></a>
        <a href="http://news.tasawr.net/news/newslist/5/1?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><%= t('nav.Technology')%></a>
        <a href="http://news.tasawr.net/news/newslist/7/1?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><%= t('nav.Money') %></a>
        <a href="http://news.tasawr.net/news/newslist/10/1?locale=<%= I18n.locale.to_s == 'en' ? 'eng' : 'ara' %>"><%= t('nav.Jobs') %></a>
      </div>
      <div class="part1">
        <h4><%= t('heading.Hotel') %></h4>
        <a href="http://hotel.tasawr<%= @domain_suffix %>/?lan=<%= I18n.locale.to_s %>"><%= t('nav.HotelHome') %></a>
        <a href="http://hotel.tasawr<%= @domain_suffix %>/forums/?lan=<%= I18n.locale.to_s %>"><%= t('nav.Forum')%></a>
        <a href="http://hotel.tasawr<%= @domain_suffix %>/hotels/new?lan=<%= I18n.locale.to_s %>"><%= t('nav.ListYourHotel')%></a>
        <a href="http://hotel.tasawr<%= @domain_suffix %>/?lan=<%= I18n.locale.to_s %>#search_item"><%= t('nav.SearchHotel')%></a>
      </div>
      <div class="part1">
        <h4><%= t('heading.CarRental') %></h4>
        <a href="http://carrental.tasawr<%= @domain_suffix %>/?lan=<%= I18n.locale.to_s %>"><%= t('nav.CarHome')%></a>
        <a href="http://carrental.tasawr<%= @domain_suffix %>/forums/?lan=<%= I18n.locale.to_s %>"><%= t('nav.Forum')%></a>
        <a href="http://carrental.tasawr<%= @domain_suffix %>/hotels/new/?lan=<%= I18n.locale.to_s %>"><%= t('nav.ListYourCar')%></a>
        <a href="http://carrental.tasawr<%= @domain_suffix %>/?lan=<%= I18n.locale.to_s %>#search_item"><%= t('nav.SearchCar')%></a>
      </div>
      <div class="part1">
        <h4><%= t('heading.RealEstate')%></h4>
        <a href="http://realestate.tasawr<%= @domain_suffix %>/?lan=<%= I18n.locale.to_s %>"><%= t('nav.RealEstateHome') %></a>
        <a href="http://realestate.tasawr<%= @domain_suffix %>/forums/?lan=<%= I18n.locale.to_s %>"><%= t('nav.Forum')%></a>

        <a href="http://connect.tasawr<%= @domain_suffix %>/?redirect_to=<%= u("http://realestate.tasawr#{@domain_suffix}/?lan=#{I18n.locale.to_s}&profile=x") %>"><%= t('nav.ListYourProperty')%></a>

        <a href="http://realestate.tasawr<%= @domain_suffix %>/?lan=<%= I18n.locale.to_s %>#search_item"><%= t('nav.SearchProperty')%></a>
      </div>
    </div>
    <div class="copyRights">

      <a href="#"><img alt="Tasawr Real Estate logo" src="/images/footer_logo.gif"></a>

      <div class="tasawr"><a href="http://www.tasawr<%= @domain_suffix %>">www.tasawr.net</a>
      </div>
    </div>
    <!--footer end -->
  </div>
</div>


</body>
</html>
