<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= sso_site_field(:site_title, 'Tasawr Single Sign On Platform') %></title>

  <%= javascript_include_tag 'jquery', 'jquery-ui' %>
  <%= stylesheet_link_tag 'style.css' %>
  <%= stylesheet_link_tag 'jquery-ui-lightness/jquery.css' %>

  <% if params[:locale].to_s == 'ar' %>
    <%= stylesheet_link_tag 'style_rtl.css' %>
  <% else %>
    <%= stylesheet_link_tag 'style_ltr.css' %>
  <% end %>

  <% if @sso_selected_site %>
    <style type='text/css'>
      <%= @sso_selected_site.theme_css %>
    </style>
  <% end %>
</head>

<body>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  $(function() {
    FB.init({appId: '<%= Facebooker.api_key %>', status: true, cookie: true, xfbml: true});
  <% if !logged_in? %>
    FB.Event.subscribe('auth.sessionChange', function(response) {
      if (response.session) {
        var path = location.href;
        window.location = path + (path.match(/\?/) ? '&' : '?') + "fskey=" +
                          response.session.session_key + "&fuid=" +
                          response.session.uid + '&fexpires=' +
                          response.session.expires + '&fsecret=' +
                          response.session.secret + '&fat=' +
                          response.session.access_token
      }
    });
  <% end %>
  });
</script>

<div class="wrapper">
  <!--header start -->
  <div class="header">
    <div class="logo">
      <a href="#"><img src="/images/logo.jpg" alt="Mobily"/></a>
    </div>

    <div class="add">
      <a href="#"><img src="/images/top_banner.jpg" alt="gitex 2010"/></a>
    </div>
  </div>

  <div class="topTab">
    <ul>
      <li>
        <a class="selTab" href="http://connect.tasawr.info/?locale=en"><span><img src="/images/home_ico.gif"/></span></a>
      </li>
      <li><a href="http://tasawr.net/?locale=eng"><span>News</span></a></li>
      <li><a href="http://hotel.tasawr.info/?lan=en"><span>Hotel</span></a></li>
      <li>
        <a href="http://carrental.tasawr.info/?lan=en"><span>Car Rental</span></a>
      </li>
      <li>
        <a href="http://realestate.tasawr.info/?lan=en"><span>Real Estate</span></a>
      </li>
    </ul>
  </div>

  <div class="topMenu">
    <div class="menusWrapper">
      <ul>
        <li>
          <a class="selMenu" href="http://connect.tasawr.info/?locale=en">Home</a>
        </li>

        <li class="switch_lan">

          <a onclick="return true;" class="" href="/welcome?lan=ar">العربية</a>

        </li>
      </ul>
    </div>
  </div>

  <!--header end -->
  <!--middle start -->
  <% message = flash[:notice] || flash[:error] || flash[:success] %>
  <% if message %>
    <div class='notice'>
      <%= message %>
    </div>
  <% end %>

  <div class='imagine'>
    <%= yield %>
  </div>
  <!--middle end -->
  <!--footer start -->

  <div class="footer">
    <div class="siteRow">
      <div class="site_copy">
        <%= sso_site_field :footer, '© 2010 Tasawr Interactive. All Rights Reserved.' %>
      </div>
      <div class="site_privacy">
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Tell A Friend</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions </a></li>
        </ul>
      </div>
    </div>
    <div class="footerLinks">

      <div class="part1">
        <h4>Travel</h4>
        <a href="#">Hotel Bookings</a>
        <a href="#">Deals</a>
        <a href="#">Forum</a>
        <a href="#">Hotel Owners</a>
      </div>
      <div class="part1">
        <h4>Health</h4>
        <a href="#">Health News</a>
        <a href="#">Eating Healthy</a>
        <a href="#">Wellness Blog</a>

      </div>
      <div class="part1">
        <h4>Real Estate</h4>
        <a href="#">Property Listings</a>
        <a href="#">Blog</a>
        <a href="#">Real Estate Fatwas</a>
        <a href="#">Forum</a>
        <a href="#">Q & A</a>
      </div>
      <div class="part1">
        <h4>Games</h4>
        <a href="#">Fantasy Football Cup</a>
        <a href="#">SMS Cup</a>
        <a href="#">Football Trivia</a>
      </div>
      <div class="part1">
        <h4>Messaging</h4>
        <a href="#">SMS Packages</a>
        <a href="#">Greeting Cards</a>
        <a href="#">MMS Service</a>
      </div>

    </div>
    <div class="copyRights">

      <a href="#"><img src="/images/footer_logo.gif" alt=""/></a>

      <div class="tasawr">www.tasawr.com</p>
      </div>
    </div>
    <!--footer end -->


  </div>
</div>


</body>
</html>
